.body {
  display: flex-column;
}

.actiondiv {
  background-color: navy;
  color: white;
  padding: 15px;
  height: 18rem;
  background-image: url('../../assets/images/homefullcolor.jpg');
  background-size: cover;
}

.actionbutton {
  background-color: rgb(226, 79, 79);
  box-shadow: 5px 8px black;
  color: white;
  border: none;
  border-radius: 1ch;
  padding: 15px;
  font-weight: bold;
}

.lhdiv {
  position: relative;
  background-image: url('../../assets/images/CreamRectangle.jpg');
  background-size: cover;
  /* background-color: white; */
  color: navy;
  max-width: 350px;
  border-radius: 1ch;
  margin-top: 1rem;
  box-shadow: 8px 10px rgb(226, 79, 79);
  padding: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-content: space-around;
}

.quiz {
  color: navy;
  height: 11rem;
  min-width: 10rem;
  max-width: 22rem;
  box-shadow: -8px 10px rgb(226, 79, 79);
  border-radius: 1ch;
  padding: 10px;
  margin-top: 1vh;
  margin-left: auto;
  background-image: url('../../assets/images/CreamRectangle.jpg');
  background-size: cover;
}
.quizbutton {
  height: 30px;
  width: 160px;
  color: rgb(226, 79, 79);
  background-color: white;
  border: 2px solid rgb(226, 79, 79);
  border-radius: 1ch;
  font-weight: bold;
}
.lhtitle {
  position: relative;
  color: gold;
  padding: 10px;
  margin-top: 2rem;
  background-color: rgb(37, 108, 167);
  background-image: url('../../assets/images/localherobottom.jpg');
}
#bttntitle {
  font-weight: bold;
}

#buttons {
  position: relative;
  color: white;
  background-color: rgb(37, 108, 167);
  height: 160px;
  width: 180px;
  padding: 10px;
  border-radius: 1ch;
  margin-top: 15px;
  border: white 1px solid;
}

.connect {
  background-image: url('../../assets/images/colorIMAGECONNECT.jpg');
  background-size: cover;
}
.submit {
  background-image: url('../../assets/images/colorIMAGESUBMIT.jpg');
  background-size: cover;
  background-position-y: -5px;
}
.voter {
  background-image: url('../../assets/images/colorImageVoter.jpg');
  background-size: cover;
}

#boldtitle {
  font-weight: bold;
}
