#burgermenu {
  font-size: 2rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePic {
  display: flex;
  justify-content: center;
}

.repFav {
  height: 7vh;
}

#serviceIssues {
  margin: 2%;
  height: max-content;
  background: #f9f1da;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.serviceIssues {
  display: flex;
  justify-content: center;
}

.mapBody {
  display: flex;
  flex-direction: column;
}
