.repCard-container {
  background-color: red;
  margin: 20px 10px;
  border-radius: 10px;
  height: 150px;
}

.repName-container {
  background-color: #22409a;
  border-radius: 10px 10px 0 0;
  padding: 5px 0 1px 10px;
}

.repName-container h3 {
  font-size: 1.2rem;
  color: white;
}

.repInfo-conatiner {
  /* margin: auto 10px; */
  /* display: grid;
  grid-template-columns: 2fr 4fr 1fr; */
}

.repInfo-conatiner h3 {
  font-size: 0.8rem;
}
.repInfo-conatiner img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.arrow {
  display: flex;
  justify-content: center;
  background-color: green;
  /* flex-basis: */
}
.arrow img {
  width: 20px;
  align-content: flex-end;
  vertical-align: bottom;
}
