/*******************************************
                  Card
*******************************************/
.repCard-container {
  margin: 20px;
  border-radius: 5px;
  height: 150px;
  box-shadow: 0px 4px 7px 1px rgba(102, 102, 102, 1);
}

/*******************************************
                Rep Name
*******************************************/
.repName-container {
  background-color: #22409a;
  border-radius: 5px 5px 0 0;
  padding: 5px 0 1px 10px;
}

.repName-container h3 {
  font-size: 1.2rem;
  color: white;
}

/*******************************************
              Profile Container
*******************************************/
.repInfo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
}

/*******************************************
                Profile Picture
*******************************************/
.profile-photo {
  flex-basis: 15%;
  margin: 0 auto;
}

.profile-photo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/*******************************************
         Info and Button Container
*******************************************/
.right-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}

/* .right-container h3 {
  font-size: 0.8rem;
} */

.title-name {
  font-weight: 800;
  font-size: 1rem;
}

.county-name {
  font-weight: 300;
  font-size: 0.8rem;
}

.party-name {
  margin-top: 10px;
  color: gray;
  font-size: 0.8rem;
}

/*******************************************
                  Button
*******************************************/
.arrow {
  height: 100%;
  flex-basis: 15%;
}

.arrow img {
  width: 30px;
  position: relative;
  top: 60%;
}

@media screen and (min-width: 450px) {
  .repCard-container {
    width: 24rem;
    height: 12rem;
    margin-bottom: 2rem;
  }

  .repInfo-container {
    height: 80%;
  }

  .right-container {
    flex-basis: 45%;
  }

  .right-container h3 {
    font-size: 1rem;
  }

  .profile-photo img {
    width: 7rem;
    height: 7rem;
  }

  .arrow img {
    width: 1.5rem;
  }
}
