#localVoice-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fec107;
}

.localVoice-title {
  background-color: #22409a;
  color: white;
  padding: 20px;
  display: flex;
  background-image: url('../../assets/images/dotsBackground.svg');
  background-size: cover;
}

.localVoice-title h3 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.localVoice-voice {
  font-weight: bold;
  color: gold;
}

.localVoice-title2 {
  padding: 2rem;
  line-height: 0.5rem;
  background-image: url('../../assets/images/groupchat.jpg');
  background-size: initial;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
  color: #22409a;
}

.localVoice-title2 h5 {
  width: 60%;
}
.localVoice-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 20px 10px 20px;
}

#localVoice-buttons {
  height: 130px;
  width: 350px;
  border-radius: 1ch;
  background-color: #22409a;
  color: white;
  margin-top: 1rem;
  border: white solid 1px;
}

#localVoice-buttons p {
  padding: 0 10px;
  margin: 0;
}

@media screen and (min-width: 700px) {
  .localVoice-title {
    background-image: url('../../assets/images/dotsBackground.svg');
    background-size: cover;
    background-position: center;
  }

  .localVoice-main {
    height: 82vh;
    /* background-color: red; */
    display: flex;
  }

  .localVoice-title2 {
    display: flex;
    flex-direction: column;
    background-position-x: center;
    background-position-y: 60%;
    padding: 2rem 1rem;
    margin: 0;
    background-color: #f9f1da;
    clip-path: polygon(80% 100%, 100% 0, 0 0, 0 100%);
  }

  .localVoice-title2 h5 {
    width: 100%;
    padding-top: 2rem;
  }

  .localVoice-buttons-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}
