#title {
  font-weight: bold;
  color: rgb(223, 75, 75);
}
.voice {
  margin-left: 8px;
  font-weight: bold;
  color: gold;
}
.lvtitle {
  background-color: blue;
  color: white;
  padding: 30px;
  display: flex;
  background-image: url('../../assets/images/dotsBackground.svg');
  background-size: cover;
}
.titleCity {
  padding: 2rem;
  line-height: 0.5rem;
  color: navy;
  background-image: url('../../assets/images/groupchat.jpg');
  background-size: initial;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
.buttons {
  display: flex-wrap;
  justify-content: space-evenly;
  padding: 10px;
}

#lvtitles {
  position: relative;
  min-height: 130px;
  max-height: 130px;
  min-width: 350px;
  max-width: 350px;
  border-radius: 1ch;
  background-color: blue;
  color: white;
  line-height: 0.5rem;
  margin-top: 1rem;
}
