#yvyv-title {
  display: flex;
  position: relative;
  line-height: 0.75em;
  background-color: #22409a;
  height: 6rem;
  color: white;
  padding: 20px;
  background-image: url('../../assets/images/dotsBackground.svg');
  background-size: cover;
}

.yvyv-box {
  display: flex;
  position: relative;
  width: 20rem;
  height: 8rem;
  background-color: whitesmoke;
  padding: 0.5rem;
  border-radius: 1ch;
  color: navy;
  margin-top: 2rem;
  background-image: url('../../assets/images/CreamRectangle.jpg');
  background-size: cover;
  box-shadow: 8px 10px rgb(226, 79, 79);
  padding: 10px;
}

.yvyv-button {
  position: relative;
  max-height: 50px;
  min-width: 130px;
  max-width: 130px;
  border-radius: 1ch;
  border: none;
  background-color: #ff6b6b;
  margin-left: 30px;
  color: white;
  font-weight: bold;
}

#yvyv-resources {
  background-color: #22409a;
  color: white;
  line-height: 0.5em;
  padding: 10px;
  margin-top: 2rem;
}

.yvyv-text {
  font-weight: bold;
}

.yvyv-pagetitle {
  font-weight: bold;
  position: relative;
}
.yvyv-pagetitle2 {
  font-weight: bold;
  color: gold;
  margin-left: 0.5rem;
  position: relative;
}
.yvyv-title2 {
  font-weight: bold;
}

#yvyv-boxes {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
