.form-container {
  margin-top: 0;
}

.TopBar {
  padding: 20px 10px;
  background-color: #22409a;
  background-image: url('../../assets/images/dotsBackground.svg');
  background-size: cover;
}

.TopBar h2 {
  color: white;
  font-weight: 300;
}

.TopBar span {
  color: #fec107;
  font-weight: 600;
}

.search-container {
  display: flex;
  margin: 0 10px;
}

.search-container input {
  width: 90%;
  line-height: 2rem;
}

.right-image-container {
  background-color: #788ac1;
  width: 10%;
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container img {
  width: 70%;
  margin: auto;
}

.filters {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.filters input {
  background-color: #788ac1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-right: 10px;
}

#yr-active {
  background-color: #22409a;
}

.responselevel h3 {
  margin: 10px 20px;
  color: #22409a;
  font-size: 1rem;
  font-weight: 800;
}

@media screen and (min-width: 450px) {
  .TopBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .TopBar h2 {
    font-size: 3rem;
  }

  .search-container {
    width: 30%;
    height: 3rem;
    font-size: 1.5rem;
  }

  .searchbar {
    width: 40%;
  }

  .filters input {
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    margin-right: 1rem;
  }

  .responselevel {
    text-align: center;
  }

  .yr-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
