.actiondiv {
  background-color: lightblue;
}
.lhdiv {
  background-color: lightblue;
}
.hpconnect {
  background-color: lightblue;
}
.hpsubmit {
  background-color: lightblue;
}
.hpvoter {
  background-color: lightblue;
}
.hpcity {
  background-color: lightblue;
}
.quiz {
  background-color: lightblue;
}
.lhtitle {
  background-color: lightblue;
}
.actionbutton {
  background-color: rgba(255, 41, 41, 0.658);
}
.quizbutton {
  background-color: lightblue;
}
