#repstats {
  display: flex;
  justify-content: space-evenly;
}
#repstat {
  display: flex-column;
  padding: 10px;
}
.tweettitle {
  background-color: blue;
  color: white;
}
.repcontainer {
  display: flex-column;
}
